mat-grid-tile {
  background: #aed8e6;
  text-align: center;
  line-height: 1.2;
  cursor: pointer;

  &.low {
    background: #f0e68c;
  }

  p {
    margin: 0;
  }
}

.item-name {
  font-size: 1.3em;
  display: block;
}

.item-left {
  font-size: 2em;
  display: block;
}
