<mat-card>
  <mat-card-title> {{ customer?.name }}さま </mat-card-title>

  <mat-card-subtitle> オンライン注文書 </mat-card-subtitle>

  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let item of items; index as i">
        <div class="item-line" matLine>
          <span *ngIf="item.id">
            {{ item.name }}
          </span>

          <mat-form-field appearance="fill" *ngIf="!item.id">
            <mat-label> 品名 </mat-label>
            <input
              type="text"
              matInput
              name="name-{{ i }}"
              [(ngModel)]="item.name"
              [disabled]="sending"
            />
          </mat-form-field>

          <span></span>

          <mat-form-field appearance="fill">
            <mat-label> 数量 </mat-label>
            <input
              type="number"
              name="num-{{ item.id || i }}"
              min="0"
              value="0"
              matInput
              [(ngModel)]="item.orderedCount"
              matTooltip="0にすると発注しません"
              [disabled]="sending"
            />
          </mat-form-field>
        </div>

        <mat-divider matLine></mat-divider>
      </mat-list-item>

      <mat-list-item>
        <button mat-raised-button (click)="addItem()" [disabled]="sending">
          <mat-icon>add</mat-icon>
          その他の品目を追加
        </button>
      </mat-list-item>
    </mat-list>

    <mat-form-field appearance="fill" class="notes">
      <mat-label>備考</mat-label>
      <textarea
        name="notes"
        [(ngModel)]="order.notes"
        matInput
        [disabled]="sending"
      ></textarea>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="sendOrder()"
      [disabled]="sending"
    >
      <mat-icon>send</mat-icon>
      送信
    </button>
  </mat-card-actions>
</mat-card>
