<section>
  <h1>注文書</h1>

  <mat-card>
    <mat-card-title>注文書を発行</mat-card-title>
    <mat-card-content>
      連絡先情報、品目、単価、備考の編集ができます。<br />
      準備ができたら印刷ボタンを押してください。
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="../" mat-raised-button>
        <mat-icon>arrow_back</mat-icon>
        戻る
      </a>
      <button
        mat-raised-button
        color="primary"
        [disabled]="isNotReady"
        (click)="print()"
      >
        <mat-icon>print</mat-icon>
        印刷
      </button>
    </mat-card-actions>
  </mat-card>

  <div class="company-info">
    <div class="customer-info">
      <h2>{{ customer?.name }} 御中</h2>
      <textarea>{{ customer?.address }}</textarea>
    </div>

    <div>
      <p>
        株式会社 深川珈琲<br />
        〒735-0013<br />
        広島県安芸郡府中町浜田3-3-5<br />
      </p>
      <p>
        TEL 082-890-4151<br />
        FAX 082-890-0141<br />
        info@fukagawacoffee.com
      </p>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>摘要</th>
        <th>単価</th>
        <th>数量</th>
        <th>金額</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items; index as i">
        <th>{{ i + 1 }}</th>
        <td>
          <input
            type="text"
            name="name-{{ item.id }}"
            [(ngModel)]="item.name"
          />
          <span class="print">
            {{ item?.name }}
          </span>
        </td>
        <td class="price-cell">
          <input
            type="number"
            min="0"
            name="price-{{ item.id }}"
            [(ngModel)]="item.price"
          />
          <span class="print"> {{ item.price | currency: "JPY" }}- </span>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <h3>備考</h3>
  <textarea class="notes" name="notes"></textarea>

  <p class="online-order">
    <img id="qrcode" [src]="qrCodeAddress" alt="読み込み中"/>
    <a [href]="orderAddress">オンライン発注が便利です。</a><br />
    QRコードからご利用いただけます。
  </p>
</section>
