<mat-toolbar color="primary">
  <span>
    <mat-icon>coffee</mat-icon>
  </span>
  <span> 深川珈琲 在庫管理 </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="!!user" position="end">
    <mat-nav-list>
      <a mat-list-item routerLink="/item"> 品目 </a>
      <a mat-list-item routerLink="/customer"> 取引先 </a>
      <a mat-list-item routerLink="/order"> 注文 </a>
      <a mat-list-item routerLink="/member"> メンバー </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
