<mat-card>
  <mat-card-title>
    {{ customer?.name || "読み込み中…" }}
  </mat-card-title>
  <mat-card-subtitle>
    {{ customer?.address }}
  </mat-card-subtitle>

  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="deleteCustomer()">
      <mat-icon>delete</mat-icon>
      削除
    </button>
    <button mat-raised-button (click)="editCustomer()">
      <mat-icon>edit</mat-icon>
      編集
    </button>
    <a mat-raised-button color="primary" routerLink="./order-sheet">
      <mat-icon>description</mat-icon>
      注文書を発行
    </a>
    <a
      mat-raised-button
      [disabled]="!customer"
      routerLink="/order/{{ customer?.id }}/new"
    >
      <mat-icon>receipt</mat-icon>
      注文入力
    </a>
  </mat-card-actions>

  <mat-card-content>
    <mat-action-list>
      <button mat-list-item (click)="associateItem()">
        <mat-icon>add</mat-icon>
        品目を追加する
      </button>
      <button
        mat-list-item
        matTooltip="「{{ item.name }}」を削除"
        *ngFor="let item of items"
        (click)="deleteItem(item.id)"
      >
        <mat-icon matListIcon>remove</mat-icon>
        {{ item.name }} ({{ item.storage }}) ・ {{ item.notes }}
      </button>
    </mat-action-list>
  </mat-card-content>
</mat-card>

<p>
  <a mat-raised-button color="primary" routerLink="/customer">
    <mat-icon>arrow_back</mat-icon>
    保存して戻る
  </a>
</p>
