<mat-card>
  <mat-card-title>
    {{ order?.customerName }}
  </mat-card-title>
  <mat-card-subtitle>
    {{ order?.orderedAt?.toDate() | date: "y/M/d　h:mm" }}
  </mat-card-subtitle>

  <mat-card-content>
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of order?.items"
        routerLink="/item/{{ item.id }}"
      >
        <p matLine>{{ item.name }} × {{ item.orderedCount }}</p>
        <p matLine *ngIf="item.id">
          {{ itemList[item.id].storage }}
          {{ itemList[item.id].notes }}
          残{{ itemList[item.id].count }}
        </p>
        <p matLine *ngIf="!item.id">品目リストにありません</p>
      </a>
    </mat-nav-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="markAsDone()">
      <mat-icon>done</mat-icon>
      完了
    </button>
  </mat-card-actions>
</mat-card>
