mat-card {
  margin: 1em;
  padding: 1em;
}

mat-card-actions {
  margin: 0 0 1em 0;
  padding-top: 0;

  p {
    @media all and (max-width: 500px) {
      button {
        display: block;
        width: 100%;
        margin: 0.5em 0;
      }
    }

    @media all and (min-width: 500px) {
      mat-divider {
        display: none;
      }
    }
  }
}

p a[mat-raised-button] {
  margin: 1em;
  width: calc(100% - 2em);
}
