/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon {
  vertical-align: text-bottom;
}

[mat-fab].mat-fab {
  position: fixed;
  bottom: 2em;
  left: 2em;
}

@media print {
  mat-toolbar,
  mat-sidenav {
    display: none !important;
  }

  mat-sidenav-content {
    margin-right: 0 !important;
  }
}
